@import "variables.scss";
@import "./cards.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: montserrat, sans-serif;
  color: #fff;
}

body {
  display: flex;
}

.page {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: #141b1c;
  display: flex;
  justify-content: center;
  align-items: center;
}
